<div class="navbar">
    <a class="site-title logoname" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo_location }}">
        <span>{{ site.logo_name }}</span>
    </a>

    <ul class="pull-right">
        {%- for x in site.navbar -%}
        <li class="pull-left">
            {%- if x.absolute-link -%}
                {%- assign x-url = x.absolute-link -%}
            {%- else -%}
                {%- assign x-url = site.baseurl | append: "/" | append: x.link -%}
            {%- endif -%}
            {%- if x.target -%}
                {%- capture x-target -%}
                target="{{ x.target }}"
                {%- endcapture -%}
            {%- endif -%}
            <a href="{{ x-url }}" {{ x-target }}>{{ x.name }}</a>
            {%- if forloop.last == false -%}
                /
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <hr>
</div>
