---
layout: default
---

<div class="page-title" id="{{ page.title }}">
    {{page.title}}
</div>
<div class="content">
    <div class="page-subtitle">
        {% if page.author %}
            {% assign author = page.author %}
        {% else %}
            {% assign author = site.author %}
        {% endif %}
        {% if page.date %}
        <div class="">
            <span>{{author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</span>
            {%- if site.baidutongji %}
            <span>浏览量</span><span id="value_page_pv"></span>
            {% endif %}
        </div>
        {% endif %}
        <br>
        <p>{{ page.date | date_to_string }} - {{ author }}</p>
        <br>
        
        <br>
        {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
            {% endif %}
            <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% if page.tags.last == tag %}
                <b>]</b>
            {% else %}
                ,
            {% endif %}
        {% endfor %}
    </div>
    <hr>

    {{content}}
</div>
